<template>

	<div id="user">

		<h3>Utilisateur</h3>
		<p>Mon nom est {{userName}}</p>
		
	</div>

</template>

<script>

export default
{
	data()
	{
		return
		{
			userName : 'toto'
		}
	},
	components:
	{
		'app-info': Info
	}
}
</script>

<style scoped>

p
{
	font-style: italic;
	color:red;
}

</style>