/* From : https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* From : https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
table td, table th
{
    border: 1px solid #ddd;
    padding: 8px;
}

/* From : https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.bordureRouge
{
	border : 2px solid red;
}