<template>

	<div id="app">

		<!-- Form ajout restaurant -->
		<form  v-on:submit="ajouterRestaurant">

			<label> Nom : <input type="text" required v-model="nom"> </label>
			<label> Cuisine : <input type="text" required v-model="cuisine"> </label>

			<button>Ajouter</button>

		</form>

		<!-- Recherche -->
		<p>
			<label>Recherche :
			<input
				type='text'
				required
				v-model="searchText"
				v-on:input="search"
			/>
			</label>
		</p>

		<!-- Nombre résultat -->
		<p>
			Nombre de résultats : {{ nombreResultatAffichage }}
			<el-slider
				:min=0
				:max=30
				:step=1
				:value="nombreResultatAffichage"
				v-model="nombreResultatAffichage"
				v-on:input="getRestaurants"
			></el-slider>
		</p>

		<h1>Nombre de restaurants : {{ nombreRestaurants }}</h1>

		<!-- Liste restaurants -->
		<app-restaurants-table
			:restaurants="restaurants"
			@editInfo="editInfo( $event )"
			@deleteRestaurant="deleteRestaurant( $event )"
		>
		</app-restaurants-table>

		<br />

		<!-- Pages -->
		<div id='pagination'>

			<el-button
				type='primary'
				:disabled="!canGoPrevious"
				icon="el-icon-arrow-left"
				size="small"
				v-on:click="loadRestaurant( -1 )"
			>
				Précédent
			</el-button>

				<el-tooltip class="item" effect="dark" content="Click to select a page" placement="top">
					<el-button
						v-on:click="launchModalChangePage()"
						type="primary"
						size="small"
					>
						Page : {{ currentPage }}
					</el-button>
				</el-tooltip>
			<el-button
				type="primary"
				:disabled="!canGoNext"
				icon="el-icon-arrow-right"
				size="small"
				id="previousButton"
				v-on:click="loadRestaurant( 1 )"
				v-bind:class="{ disabled : canGoNext }"
			>
				Suivant
			</el-button>

		</div>

	</div>

</template>

<script>

import _ from 'lodash';

let baseURL = "http://localhost:8080/api";

export default
{
	name: 'app',

	data()
	{
		return	{
					restaurants: [],
					nom: '',
					cuisine: '',
					nombreRestaurants : '',
					currentPage : 1,
					searchText : '',
					nombreResultatAffichage : 10,
					editFieldVisibility : false,
					canGoPrevious : false,
					canGoNext : true
				};
	},
	mounted ()
	{
		this.getRestaurants();

		//this.initSlider();
	},
	methods :
	{
		initSlider()
		{
			this.$el.querySelector( "#slider" ).defaultValue = this.nombreRestaurants;
		},
		ajouterRestaurant( event )
		{
			// eviter le comportement par defaut qui est de soumettre le formulaire et charger une page blanche
			event.preventDefault();

			let formData = new FormData( event.target );

			let url = `${baseURL}/restaurants`;

			fetch( url,
				{
					method : 'POST',
					body : formData
				})
				.then( responseJSON =>
				{
					responseJSON.json()
						.then( response =>
						{
							this.getRestaurants();
						} );
				} )
				.catch( err =>
				{
					console.error( err );
				} );

		},
		getRestaurants()
		{
			let url = `${ baseURL }/restaurants?pagesize=${ this.nombreResultatAffichage }&page=${ this.currentPage }&name=${ this.searchText }`;

			fetch( url )
				.then( responseJSON =>
				{
					responseJSON.json()
						.then( response =>
						{
							this.restaurants = response.data;
							this.nombreRestaurants = response.count;
						} );
				} )
				.catch( err =>
				{
					console.error( err );
				} );
		},
		loadRestaurant( whereGivenCurrentPage )
		{
			const futurePage = parseInt( this.currentPage ) + whereGivenCurrentPage

			let url = `${baseURL}/restaurants?page=${ futurePage }&pagesize=${ this.nombreResultatAffichage }`;

			this.canGoPrevious = !( futurePage === 0 );
			this.canGoNext = !( futurePage === this.getMaxPage() )

			const amIGoingBack = this.currentPage > futurePage;
			const amIGoingTooMuchBack = ( amIGoingBack && ( this.currentPage === 0 ) );
			const amIGoingTooMuchForward = ( !amIGoingBack && ( this.currentPage === this.getMaxPage() ) );

			if( !amIGoingTooMuchBack || !amIGoingTooMuchForward )
			{
				this.currentPage = futurePage;
				this.getRestaurants();
			}
		},
		search : _.debounce( function() { this.getRestaurants() }, 300 ),
		deleteRestaurant( restaurant )
		{
			let restaurantID = restaurant._id;

			let url = `${baseURL}/restaurants/${ restaurantID }`;

			fetch( url, { method : 'DELETE' } )
				.then( () =>
				{
					this.getRestaurants();
				} )
				.catch( err =>
				{
					console.error( err );
				} );
		},
		/**
		 * @param { 'name' | 'cuisine' } type
		 */
		editInfo( { type, restaurant } )
		{
			if( type === 'name' || type === 'cuisine' )
			{
				const promptText = type === 'name' ? 'Rentrer le nouveau nom' : 'Rentrer le nouveau type de cuisine';

				this.$prompt( promptText, 'Edition',
				{
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					inputPlaceholder : restaurant.name
				})
					.then( ( { value } ) =>
					{
						this.updateRestaurantDataInAPI( restaurant._id, { [ type ] : value } ).then( () =>
						{
							this.$message(
							{
								type: 'success',
								message: 'Valeur mise à jour'
							})
						});
					})
					.catch( () =>
					{
						this.$message(
						{
							type: 'info',
							message: 'Modification annulé'
						});
					});
			}
			else
				console.error( 'You need to provide either nom or cuisine as the info param')
		},
		updateRestaurantDataInAPI( restaurantID, json )
		{
			let url = `${baseURL}/restaurants/${ restaurantID }`;

			return new Promise( ( resolve, reject ) =>
			{
				fetch( url, { method : 'PUT', body : json } )
					.then( response =>
					{
						resolve();
					} )
					.catch( err =>
					{
						reject();
					} );
			})
		},
		launchModalChangePage()
		{
			this.$prompt( 'A quelle page souhaiteriez-vous aller ?', 'Edition',
				{
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancel',
					inputPattern : /^[0-9]*$/,
					inputPlaceholder : this.currentPage
				})
					.then( ( { value } ) =>
					{
						if( value > this.getMaxPage() )
							throw new Error( "This page doesn't exists");
						else
						{
							this.currentPage = value;

							this.loadRestaurant( 0 )
						}
					})
					.catch( error =>
					{
						this.$message(
						{
							type: 'info',
							message: error
						});
					});
		},
		canGoNextPage()
		{
			return this.currentPage <= this.getMaxPage();
		},
		getMaxPage()
		{
			return Math.floor( this.nombreRestaurants / this.nombreResultatAffichage )
		}
	}
}

</script>

<style>

	table
	{
		border:1px solid black;
		width:100%;
		border-collapse:collapse;
	}

	tr, td
	{
		border:1px solid black;
	}

	td
	{
		padding: 5px;
	}

	tr:hover
	{
		background-color:yellow;
	}

	input:invalid
	{
		background-color:pink;
	}
	input:valid
	{
		background-color:lightGreen;
	}

	.bordureRouge
	{
		border:2px dashed red;
	}

	#pagination
	{
		display: flex;
		flex-direction: row;
	}

</style>