<template>

	<div id="app">
		<p>{{message}}</p>

		<p v-bind:style="{color:getColor()}" > Nb hobby : {{todos.length}} </p>

		<input type="text" v-model="input">

		<button v-on:click="addTodo">Ajouter Hobbie</button>


		<ul>
		<!--
		<li v-for="todo in todos"
			v-on:click="removeTodo(todo)">
			{{todo.value}}
		</li>
		-->
			<app-hobby
				v-for="todo in todos"
				v-bind:name="todo.value"
				v-on:hobbyclicked="removeTodo(todo)"
			/>
     	</ul>

  	</div>

</template>

<script>
export default
{
	el: '#app',
	data:
	{
		todos:[],
		input : "",
		message:""
	},
	methods :
	{
		getColor()
		{
			return (this.todos.length > 2) ? "red": "green";
		},
		addTodo: function()
		{
			var valeurSaisie = this.input;

			var todo =
			{
				id: _.uniqueId(),
				value: valeurSaisie
			}

			this.todos.push(todo); // on rajoute à la
									// fin du tableau
			this.input = "";
		},
		removeTodo(todo)
		{
			var id = todo.id;

			for(var i = 0; i < this.todos.length; i++) {

				if(this.todos[i].id === id)  {
				// On supprime le ième élément
				this.todos.splice(i, 1);
				break;
				}
			}
			this.message ="Hooby suprimé";
				setTimeout(() => {
					this.message = "";
				}, 1000);
		},
	},
}
</script>

<style>

	@import url('https://fonts.googleapis.com/css?family=Roboto:300');

    #app
    {
		font-family: 'Roboto', sans-serif;
		max-width: 400px;
		margin: auto;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin-top: 60px;
		text-align: center;
    }

    #app>div>h2
    {
		font-size: 35px;
		font-weight: 300;
    }

    #app>div>p
    {
    	margin-top: 0;
    }

    #app>div>ul
    {
    	padding: 0;
    }

    #app>div>ul>li
    {
		cursor: pointer;
		list-style: none;
		padding: 10px;
		position: relative;
		text-align: left;
    }

    #app>div>ul>li:hover
    {
    	background-color: #ededed;
    }

    #app>div>ul>li:hover:after
    {
		content: "supprimer";
		position: absolute;
		right: 10px;
		color: red;
    }

    #app>div>input, #app>div>button
    {
		height: 40px;
		width: 100%;
		padding: 0 10px;
		border: 0;
		border-top: 1px solid #ddd;
    }

</style>
