<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>

    <script src="js/script.js"></script>

	<script src="https://gstatic.com/firebasejs/4.0.0/firebase.js"></script>
	<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>Gestionnaire restaurants VueJS</title>
</head>

<body>
    <div id="app">
        <label>
            Nom : <input type="text" v-model="nom">
        </label>
        <label>
            Cuisine : <input type="text" v-model="cuisine">
        </label>
        <button v-on:click="ajouterRestaurant">Ajouter</button>

        <h1>Liste des {{ restaurants.length }} restaurants :</h1>

		<table>

			<tr>
				<th>Restaurants</th>
				<th>Cuisine</th>
			</tr>

			<tr
				v-for="r,index in restaurants"
				v-on:click="supprimerRestaurant(index)"
				v-bind:style="{ backgroundColor : getRowBackgroundColor(index) }"
				v-bind:class="{ bordureRouge : ( index === 4 ) }"
			>
				<td>{{ r.nom }}</td>
				<td>{{ r.cuisine }}</td>
			</tr

		</table>

    </div>

</body>

</html>