<template>

	<div id='mTemplate'>

		<table>

			<tr>
				<th>Nom</th>
				<th>Cuisine </th>
				<th>Supprimer</th>
			</tr>

			<tbody
				v-for="restaurant, index in restaurants"
				v-bind:style="{ backgroundColor : getColor(index) }"
			>

				<td v-on:click="$emit('editInfo', { type : 'name', restaurant : restaurant  } )" >
					<el-tooltip class="item" effect="dark" content="Click to edit" placement="top">
						<div>{{ restaurant.name }}</div>
					</el-tooltip>
				</td>

				<td v-on:click="$emit('editInfo', { type : 'cuisine', restaurant : restaurant  } )">
					<el-tooltip class="item" effect="dark" content="Click to edit" placement="top">
						<div>{{ restaurant.cuisine }}</div>
					</el-tooltip>
				</td>

				<td>
					<el-button
						round
						type="danger"
						size="mini"
						v-on:click="$emit( 'deleteRestaurant', restaurant )"
					>
						Supprimer
					</el-button>
				</td>

			</tbody>

		</table>

	</div>

</template>

<script>

export default
{
	name : 'mTemplate',

	props :
	[
		'restaurants'
	],

	methods :
	{
		getColor( index )
		{
			return ( index % 2 ) ? 'lightBlue' : 'pink';
		}
	}
}

</script>

<style>

</style>
